@model IEnumerable<test_front_page.Models.Messages>

@{ 
 Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">MESAJLAR</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/Admin/MessagesList">Mesajlar</a></li>
                <li class="breadcrumb-item active">Mesaj Listesi</li>
            </ol>
            <button type="button" onclick="window.location.href='/Admin'" class="btn btn-info d-none d-lg-block m-l-15 text-white"><i class="fa text-warning fa-dashboard"></i> Dashboard</button>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table product-overview" id="myTable">
                        <thead>

                            <tr>
                                <th>Ad Soyad</th>
                                <th>Mail Adresi</th>
                                <th>Konu</th>
                                <th>Mesaj</th>
                                <th>Durum</th>
                                <th>İşlemler</th>

                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var Message in Model)
                            {
                <tr>
                    <td>@Message.Name @Message.SurName</td>
                    <td>@Message.Mail</td>
                    <td>@Message.Subject</td>
                    <td>@Message.Message</td>
                    @if (Message.IsRead)
                    {
    <td> <span class="label label-success font-weight-100">Okundu</span> </td> }
                    else
                    {
    <td> <span class="label label-warning font-weight-100">Okunmadı</span> </td>}
                    <td>
                        <a class="btn btn-info btn-sm" href="/Admin/MessagesDetails/@Message.Id"><i class="ti-marker-alt"></i>Oku</a>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>



